.header {
font-family: 'Nunito Sans', sans-serif;

margin-left: 26%;
line-height: 1;
width: 48%;
}

.header h1 {
    font-size: 78px;
    color: turquoise;
    text-align: center;
    padding-top: 400px;
}

p {
    font-size: 28px;
    color: turquoise;
    text-align: center; 
}
body {
    background-image: url(https://images.unsplash.com/photo-1536928966032-83f683b965ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;

}
